.container {
  --background-rgb: darkgray;

  display: flex;
  column-gap: 40px;
  background: rgb(77, 77, 122);
  background: linear-gradient(
    90deg,
    rgba(60, 60, 96, 1) 0%,
    rgba(77, 77, 122, 1) 51%,
    rgba(94, 94, 151, 1) 100%
  );
  padding: 30px;
  border-radius: 8px;
  max-width: 630px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.ctas {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.ctas i {
  height: 20px;
  width: 20px;
  display: inline-block;
  color: white;
  font-size: 30px;
}

.ctas a {
  transition: 0.3s;
}

.ctas a:hover {
  transform: translateY(-3px) scale(1.05);
}

.tooltip {
  position: absolute;
  top: -30px;
  left: -165%;
  z-index: 2;
  width: 100px;
  color: white;
  font-size: 12px;
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  text-align: center;
}

#fade {
  opacity: 0;
  transition: opacity 0.3s;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
